.board{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    justify-content: center;
    align-items: center;
}
.cell{
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 200px;
}
#one,
#two,
#three{
    border-top: none;
}
#one,
#four,
#seven{
    border-left: none;
}
#seven,
#eight,
#nine{
    border-bottom: none;
}
#three,
#six,
#nine{
    border-right: none;
}